#adder {
    border-spacing: 0;
}

#adder input {
    width: 96%;
    margin: 0;
}

#adder td {
    border-left: solid 3px teal;
    padding-left: 2px;
}

#adder td.spinner {
    border-left: 0;
    width: 16px;
}

#adder td.spinner img {
    visibility: hidden;
}

#adder td.hebrew {
    width: 200px;
    direction: rtl;
}

#adder td.hebrew-comment {
    width: 200px;
}

#adder td.russian {
    width: 200px;
}

#adder td.russian-comment {
    width: 200px;
}

#adder tr.template {
    display: none;
}
