#items {
    border-spacing: 0;
}

#items tr.item:hover {
    background-color: #ffffee;
}

#items-form input {
    width: 96%;
    margin: 0;
    font: normal 14pt serif;
}

#items .headline th, #items .headline td {
    font: bold 10pt sans-serif;
}

#items th {
    padding-left: 10px;
    padding-right: 10px;
}

#items th.russian {
    width: 400px;
    text-align: left;
}

#items th.hebrew {
    width: 400px;
    text-align: right;
}

#items td {
    padding-left: 5px;
    padding-right: 5px;
    font: normal 14pt serif;
}

#spinner, #spinner-continue {
    visibility: hidden;
}

#items td.hebrew {
    width: 200px;
    direction: rtl;
}

#items td.hebrew-comment {
    width: 200px;
}

#items td.russian {
    width: 200px;
}

#items td.russian-comment {
    width: 200px;
}

#items tr.template {
    display: none;
}

#modify, #delete, #reset, #found-title, #added-title {
    display: none;
}

#editor {
    background-color: #ccffff;
}

#editor td {
    padding: 5px;
}

#search {
    text-align: right;
}

#search-form input {
    width: 120px;
    margin: 0;
    font: normal 14pt serif;
    background: url(/pics/search.png) no-repeat scroll 123px 7px;
    padding-right: 20px;
}

#continue {
    display: none;
}

#continue td {
    text-align: center;
    color: blue;
    font: normal 10pt sans-serif;
    cursor: pointer;
}

#continue:hover {
    background-color: #ffffee;
}
