#main {
    margin-top: 10ex;
    text-align: center;
}

#spinner {
    visibility: hidden;
}

#buttons-start {
    display: none;
}

#run {
    display: none;
}

.question-title-hide {
    display: none;
}

.question-title-show {
    display: inline;
}

#question-word, #answer {
    font-size: 24pt;
}
