.content {
    padding-top: 20ex;
}

#not-entered {
    float: left;
    width: 50%;
    font-family: serif;
    font-size: 24pt;
    color: black;
    text-align: right;
    direction: rtl;
}

#entered {
    float: right;
    width: 50%;
    font-family: serif;
    font-size: 24pt;
    color: #318ce7;
    text-align: left;
    direction: rtl;
}

#entering {
    margin-top: 3ex;
    width: 100%;
    height: 2ex;
    font-family: serif;
    font-size: 32pt;
    color: #999;
    text-align: center;
}
