#totals, #tests-totals {
    font-size: 12pt;
    margin-bottom: 2ex;
}

#spinner {
    visibility: hidden;
}

#stages {
    margin-top: 4ex;
}

#stages, #stages td {
    font-size: 12pt;
}

#stages .template {
    display: none;
}

#questions {
    margin-top: 4ex;
}

#questions, #questions td {
    font-size: 12pt;
}

#questions .template {
    display: none;
}
