.hebrew, .table td.hebrew {
    text-align: right;
    direction: rtl;
}

.group-none {
    color: red;
}

td.separator {
    text-align: center;
    vertical-align: middle;
}

#spinner, #spinner-continue, #spinner-similar {
    visibility: hidden;
}

#found-title, #added-title {
    display: none;
}

#search {
    text-align: right;
}

#search-form {
    margin-bottom: 0;
}

#search-form input {
    width: 120px;
    margin: 0;
    font: normal 14pt serif;
    height: 16pt; /* to fit hebrew vowels */
    background: url(/pics/search.png) no-repeat scroll 137px 7px;
    padding-right: 30px;
}

#found > thead > tr > th {
    vertical-align: bottom;
}

#found .spinner-space {
    width: 20px;
}

.items tr.item:hover {
    background-color: #ffffee;
}

.items td {
    font: normal 11pt serif;
    vertical-align: middle;
}

.items td.hebrew {
    font: normal 16pt serif;
}

.items tr.template {
    display: none;
}

#continue {
    display: none;
}

#continue td {
    text-align: center;
    color: blue;
    font: normal 10pt sans-serif;
    cursor: pointer;
}

#continue:hover {
    background-color: #ffffee;
}

#edit-dialog {
    display: none;
    width: 600px;
}

#edit-dialog label {
    font-size: 11pt;
}

#edit-dialog .main-label {
    display: inline-block;
    width: 4em;
}

#edit-dialog .checkbox-label {
    position: relative;
    top: 3px;
}

#edit-dialog input {
    font: normal 14pt serif;
    height: 16pt; /* to fit hebrew vowels */
    margin-left: 1em;
}

#edit-dialog-modify, #edit-dialog-delete {
    display: none;
}

#similar-dialog {
    display: none;
    width: 960px;
}
