.table td.hebrew, .table th.hebrew {
    text-align: right;
    direction: rtl;
}

td.separator {
    text-align: center;
    vertical-align: middle;
}

#spinner, #spinner-continue, #spinner-similar {
    visibility: hidden;
}

#modify, #delete, #reset, #found-title, #added-title {
    display: none;
}

#editor {
    background-color: #ccffff;
}

#editor td {
    padding: 5px;
}

#editor input, .items input {
    width: 96%;
    margin: 0;
    font: normal 14pt serif;
    height: 16pt; /* to fit hebrew vowels */
}

#editor .btn {
    margin-top: 1px;
}

#search {
    text-align: right;
}

#search-form {
    margin-bottom: 0;
}

#search-form input {
    width: 120px;
    margin: 0;
    font: normal 14pt serif;
    background: url(/pics/search.png) no-repeat scroll 137px 7px;
    padding-right: 30px;
}

#found > thead > tr > th {
    vertical-align: bottom;
}

#found .spinner-space {
    width: 20px;
}

.items tr.item:hover {
    background-color: #ffffee;
}

.items td {
    font: normal 11pt serif;
    vertical-align: middle;
}

.items td.hebrew {
    font: normal 16pt serif;
}

.items tr.template {
    display: none;
}

#continue {
    display: none;
}

#continue td {
    text-align: center;
    color: blue;
    font: normal 10pt sans-serif;
    cursor: pointer;
}

#continue:hover {
    background-color: #ffffee;
}

#similar-dialog {
    display: none;
    width: 960px;
}
