#main {
    margin-top: 10ex;
    text-align: center;
}

#spinner {
    visibility: hidden;
}

.message, .word, .buttons {
    margin-bottom: 2ex;
}

.message {
    font-size: 12pt;
}

#buttons-start {
    display: none;
}

#underflow, #run, #stop, #restart {
    display: none;
}

#intermezzo {
    display: none;
    padding-top: 4ex;
    color: #5c9ccc;
    font-size: 16pt;
}

.question-title-hide {
    display: none;
}

.question-title-show {
    display: inline;
}

#question-word, #answer, #answer-input-text {
    font-family: serif;
    font-size: 24pt;
}

#answer-input {
    font-family: serif;
    font-size: 24pt;
    direction: rtl;
    height: 26pt;
}

#answer-input-text {
    color: #888;
}

#button-correct {
    width: 100px;
}

#button-incorrect {
    margin-right: 3em;
    width: 100px;
}
