#main {
    margin-top: 10ex;
    text-align: center;
}

#spinner {
    visibility: hidden;
}

#buttons-start {
    display: none;
}

#run, #stop, #restart {
    display: none;
}

.question-title-hide {
    display: none;
}

.question-title-show {
    display: inline;
}

#question-word, #answer {
    font-size: 24pt;
}

#button-correct {
    width: 100px;
}

#button-incorrect {
    margin-right: 3em;
    width: 100px;
}
